<!DOCTYPE html>
<html lang="en" ng-app="ShoppingListCheckOff">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shopping List Check Off</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div ng-controller="ToBuyController as toBuyCtrl">
    <h2>To Buy:</h2>
    <ul>
      <li ng-repeat="item in toBuyCtrl.items">
        {{ item.name }} ({{ item.quantity }})
        <button ng-click="toBuyCtrl.buyItem($index)">Bought</button>
      </li>
    </ul>
    <p ng-if="toBuyCtrl.items.length === 0">Everything is bought!</p>
  </div>

  <div ng-controller="AlreadyBoughtController as boughtCtrl">
    <h2>Already Bought:</h2>
    <ul>
      <li ng-repeat="item in boughtCtrl.items">
        {{ item.name }} ({{ item.quantity }})
      </li>
    </ul>
    <p ng-if="boughtCtrl.items.length === 0">Nothing bought yet.</p>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
